<div class="col-md-12">

    <div class="form-group row">
        <label for="searchBox" class="col-sm-1 col-form-label">Search:</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" id="searchBox" name="searchBox">
        </div>
        <div class="col-sm-4 btn-toolbar">
            <input type="button" class="btn btn-primary" id="searchByNameBtn" name="searchByNameBtn"
                value="Search by Name" (click)="searchByName()">
            <input type="button" class="btn btn-primary" id="openSearchBtn" name="openSearchBtn" value="Open Search"
                (click)="openSearch()">
            <input type="button" class="btn btn-primary" id="showAllBtn" name="showAllBtn" value="Show All"
                (click)="getAllEmployees()">
        </div>
    </div>

    <section class="main" *ngIf="employees">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Photo</th>
                    <th>Name</th>
                    <th>Fun Fact</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employee of employees">
                    <th scope="row">{{employee.id}}</th>
                    <td>
                        <img src="{{employee.photo}}" style="max-height: 50px;">
                    </td>
                    <td>{{employee.name}}</td>
                    <td>{{employee.funFact}}</td>
                    <td>
                        <button type="button" class="btn btn-danger" (click)="deleteEmployee(employee)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</div>