<div class="col-md-12">

    <div class="form-group row">
        <label for="searchBox" class="col-sm-1 col-form-label">Search:</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" id="searchBox" name="searchBox">
            <label class="radio-inline">
                <input type="radio" name="matchType" value="exact" checked>Exact Match
            </label>
            <label class="radio-inline">
                <input type="radio" name="matchType" value="contained">Contained Match
            </label>
        </div>
        <div class="col-sm-4 btn-toolbar">
            <input type="button" class="btn btn-primary" id="searchByNameBtn" name="searchByNameBtn"
                value="Search by Name" (click)="searchByName()">
            <input type="button" class="btn btn-primary" id="openSearchBtn" name="openSearchBtn" value="Open Search"
                (click)="openSearch()">
            <input type="button" class="btn btn-info" id="showAllBtn" name="showAllBtn" value="Show All"
                (click)="getAllEmployees()">
            <input type="button" class="btn btn-link" id="clearAllBtn" name="clearAllBtn" value="Clear All"
                (click)="clearAllEmployees()" *ngIf="employees !== null">
        </div>
    </div>

    <label *ngIf="showNoResultsMessage"><i>No team members matched your search.</i></label>

    <section class="main" *ngIf="employees !== null">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Photo</th>
                    <th>Name</th>
                    <th>Fun Fact</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employee of employees">
                    <th scope="row">{{employee.id}}</th>
                    <td>
                        <img src="{{employee.photo}}" style="max-height: 50px;">
                    </td>
                    <td>{{employee.name}}</td>
                    <td>{{employee.funFact}}</td>
                    <td>
                        <button type="button" class="btn btn-danger" (click)="deleteEmployee(employee)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</div>